

datadir="/var/lib/proxysql"

admin_variables =
{
	admin_credentials="admin:admin;radmin:radmin"
	mysql_ifaces="0.0.0.0:6032"
	hash_passwords=false
	web_enabled=true
}

mysql_variables =
{
	threads=4
	max_connections=2048
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=false
	poll_timeout=2000
	interfaces="0.0.0.0:6033"
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.6.37"
	connect_timeout_server=3000
	monitor_username="root"
	monitor_password="root"
	monitor_history=600000
	monitor_connect_interval=1000
	monitor_ping_interval=1000
	monitor_read_only_interval=1500
	monitor_read_only_timeout=500
	ping_interval_server_msec=1000
	ping_timeout_server=500
	commands_stats=true
	sessions_sort=true
	connect_retries_on_failure=10
	#ssl_p2s_cert="/data/ssl/client-cert.pem"
	#ssl_p2s_key="/data/ssl/client-key.pem"
	#ssl_p2s_ca="/data/ssl/ca-cert.pem"
	#have_ssl=true
}

mysql_servers =
(
	{
		use_ssl=1
		address="mysql"
		port=3306
		hostgroup=0
		max_connections=200
	}
)

mysql_users:
(
	{
		active = 1
		backend = 1
		frontend = 1
		username = "user"
		password = "pass"
		default_hostgroup = 0
		max_connections=1000
		default_schema="test"
	}
)
