[mysqld]

default-authentication-plugin=sha256_password
sha256_password_private_key_path=/data/keys/_priv.pem
sha256_password_public_key_path=/data/keys/_pub.pem

ssl-ca=/data/ssl/ca-cert.pem
ssl-key=/data/ssl/server-key.pem
ssl-cert=/data/ssl/server-cert.pem

[client]
ssl-ca=/data/ssl/ca-cert.pem
ssl-key=/data/ssl/client-key.pem
ssl-cert=/data/ssl/client-cert.pem

