[mysqld]

# default-authentication-plugin=sha256_password
sha256_password_private_key_path=/data/ssl/mysql.key
sha256_password_public_key_path=/data/ssl/mysql.pub

ssl-ca=/data/ssl/mysql.crt
ssl-key=/data/ssl/mysql.key
ssl-cert=/data/ssl/mysql.crt

[client]
ssl-ca=/data/ssl/mysql.crt
ssl-key=/data/ssl/mysql.key
ssl-cert=/data/ssl/mysql.crt

